.jp-webds-widget-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.jp-webds-widget-shadow {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    transition: all 0.2s ease-out;
  }

.jp-webds-widget-container.off-top .jp-webds-widget-shadow-top {
  box-shadow: 0 1.2em 1em -1em grey inset;
}

.jp-webds-widget-container.off-bottom .jp-webds-widget-shadow-bottom {
  box-shadow: 0 -1.2em 1em -1em grey inset;
}

.jp-webds-widget {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.jp-webds-widget-body {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    white-space: nowrap;
}

button:focus-visible {
    border: none !important;
}
