.jp-webds-widget {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.jp-webds-widget-body {
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    white-space: nowrap;
}

button:focus-visible {
    border: none !important;
}
